@import "tailwindcss";
.swiper-button-next,
.swiper-button-prev {
  color: white;
  width: 45px;
  height: 45px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 50%;
}

